<section class="sec-cover">
  <div class="row">
    <div class="col-lg-6">
      <% if(page.cover.background == "macbook") { %>
      <div class="macbook">
        <img src="/image/macbook.png" alt="macbook" class="w-100" />
        <div
          class="screen"
          style="background: url('/image/<%- page.cover.image %>')"
        ></div>
      </div>
      <% } else if(page.cover.background == "iphone") { %>
      <div class="iphone">
        <img src="/image/iphone.png" alt="iphone" class="w-100" />
        <div
          class="screen"
          style="background: url('/image/<%- page.cover.image %>')"
        ></div>
      </div>
      <% } %>
      <div class="text-center mt-4">
        <a
          href="<%- page.cover.link %>"
          class="btn btn-secondary px-4 rounded-pill mb-3"
          >看現行網頁</a
        >
      </div>
    </div>
    <div class="col-lg-6">
      <h1 class="fs-3"><%- page.title %></h1>
      <p class="fs-4"><%- page.cover.subtitle %></p>
      <div class="members mt-4">
        <% page.cover.members.forEach(function(value){ %>
        <div class="member me-4 border-0 text-center">
          <img
            src="/image/<%- value.image %>"
            alt="<%- value.name %>"
            class="rounded-circle"
          />
          <span><%- value.name %></span>
        </div>
        <% }) %>
      </div>
      <div class="description mt-4"><%- page.cover.description %></div>
    </div>
  </div>
</section>
