<% if (typeof page.wireframe != "undefined") { %>
<section id="wireframe">
  <div class="container">
    <h2 class="fw-bold">Wireframe</h2>
    <div class="row">
      <h3 class="fs-4 fw-bold my-3"><%- page.wireframe.title %></h3>
      <span><%- page.wireframe.content %></span>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <% page.wireframe.items.forEach(function(value){ %>
      <div class="col-md-4 text-center">
        <% if(value.background == "macbook") { %>
        <div class="shadow">
          <img src="/image/<%- value.image %>" alt="macbook" class="w-100" />
        </div>
        <% } else if(value.background == "iphone") { %>
        <div class="iphone">
          <img src="/image/iphone.png" alt="iphone" class="w-100" />
          <div
            class="screen"
            style="background: url('/image/<%- value.image %>')"
          ></div>
        </div>
        <% } %>
        <p class="mt-4"><%- value.name %></p>
      </div>
      <% }) %>
    </div>
  </div>
</section>
<% } %>