<%
var bg_class = '';
var text_class = ''; 
if (darkmode == true){
  bg_class = 'bg-black';
  text_class = 'text-white';
}
else {
  bg_class = 'bg-white';
  text_class = 'text-secondary';
}
%> 

<div class="container-fluid py-2 px-4 <%= bg_class %> header">
  <div class="d-flex flex-column flex-md-row align-items-center">
    <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
      <img src="/images/logo.png" width="50" height="50" alt="PDIS Logo" title="PDIS"></img>
    </a>

    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto header-nav">
      <a class="py-2 text-decoration-none me-4 <%= text_class %>" href="#">計畫緣起</a>
      <a class="py-2 text-decoration-none me-4 <%= text_class %>" href="#">專案成果</a>
      <a class="py-2 text-decoration-none me-4 <%= text_class %>" href="#">見習心得</a>
      <a class="py-2 text-decoration-none me-4 <%= text_class %>" href="#">歷年專案成果</a>
    </nav>
  </div>
</div>