<style>
  @media (min-width: 768px) {
    .nav-link {
      color: white !important;
    }
  }
  h2 {
    color: <%- page.cover.background %> !important;
  }
  #define-problem .circle {
    border-color: <%- page.cover.background %> !important;
  }
</style>
<section
  id="cover"
  class="cover-4"
  style="background: <%- page.cover.background %>"
>
  <div
    class="cover-4-iphone-bg"
    style="background: url('/image/<%- page.cover.bg_image %>')"
  ></div>
  <div class="container h-100">
    <div class="row h-100">
      <div class="right col-lg-7 d-flex order-lg-1">
        <div class="iphone cover-4-iphone">
          <img src="/image/iphone.png" class="frame" />
          <div class="out-screen">
            <div
              class="screen"
              style="background: url('/image/<%- page.cover.image %>')"
            ></div>
          </div>
        </div>
      </div>
      <div
        class="left col-lg-5 d-flex align-items-center justify-content-center"
      >
        <div class="title-card">
          <div class="card-text text-center text-white">
            <span class="fw-bold fs-4"><%- page.cover.department %></span>
            <h1 class="fw-bold mt-2"><%- page.cover.title %></h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
