<main class="page">
<%- partial('partial/page/cover') %>
<%- partial('partial/page/introduction') %>
<%- partial('partial/page/prestudy') %>
<%- partial('partial/page/define_problem') %>
<%- partial('partial/page/wireframe') %>
<%- partial('partial/page/divider') %>
<%- partial('partial/page/hifi_prototype') %>
<%- partial('partial/page/result') %>
<%- partial('partial/page/report') %>
<%- partial('partial/page/experience') %>
<%- partial('partial/page/picture') %>
<%- partial('partial/page/other') %>
</main>