<style>
  @media (min-width: 768px) {
    .nav-link {
      color: white !important;
    }
  }
  h2 {
    color: <%- page.cover.background %> !important;
  }



  #define-problem .circle {
    border-color: <%- page.cover.background %> !important;
  }
</style>
<section id="cover" class="cover-3">
  <div class="cover-bg">
    <div
      class="cover-bg-color"
      style="background: <%- page.cover.background %>"
    ></div>
  </div>
  <div class="container h-100">
    <div class="row h-100">
      <div class="left col-lg-8 d-flex justify-content-center">
        <div class="macbook">
          <img src="/image/macbook.png" alt="macbook" />
          <div style="background: url('/image/<%- page.cover.image %>')"></div>
        </div>
      </div>
      <div class="right col-lg-4 d-flex align-items-center position-relative">
        <div class="title-card">
          <div class="card-text">
            <span class="fw-bold fs-4"><%- page.cover.department %></span>
            <h1 class="fw-bold mt-2"><%- page.cover.title %></h1>
            <div class="card-bg"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
