<section id="other">
  <div class="container">
    <h2><%- __('page.other.title') %></h2>
    <div class="row">
      <% 
        site.pages
        .filter(p => p.layout == "page" && p.lang == page.lang && p.id != page.id)
        .forEach(value => { 
      %>
      <div class="mockup-card col-lg-4 ">
        <div class="text-center">
          <div class="mockup d-flex align-items-center justify-content-center">
            <%- partial('component/mockup', {mockup: {image: value.thumbnail, type: value.mockup}}) %>
          </div>
          <h3 class="text-<%- value.color %>">「<%- value.cover.department %>」<br><%- value.cover.title %></h3>
          <a class="btn rounded-pill fw-bold px-4 py-2 btn-<%- value.color %>" href="<%- page_url(value.path) %>"><%- __('page.other.go_project') %></a>
        </div>
      </div>
      <% }) %>
    </div>
    <div>
</section>