<% if (typeof page.result !="undefined" ) { %>
<style>
  #result a {
    border-color: <%- page.cover.background %> !important;
  }
  #result .before {
    color: <%- page.cover.background %>;
  }
  #result .after {
    background: <%- page.cover.background %> !important;
  }
</style>
<section id="result">
  <div class="container">
    <h3 class="fw-bold text-center fs-4"><%- __('page.result.title') %></h3>
    <div class="row">
      <div class="col-lg-6 d-flex align-items-center justify-content-center">
        <div class="text-center">
          <%- partial('component/mockup', {mockup: page.result.before.mockup})
          %>
          <a
            class="btn rounded-pill fw-bold bg-white border-4 before"
            targer="_blank"
            href="<%- page.result.before.link %>"
            ><%- __('page.result.before') %></a
          >
        </div>
      </div>
      <div class="col-lg-6 d-flex align-items-center justify-content-center">
        <div class="text-center">
          <%- partial('component/mockup', {mockup: page.result.after.mockup}) %>
          <a
            class="btn rounded-pill fw-bold text-white border-4 after"
            targer="_blank"
            href="<%- page.result.after.link %>"
            ><%- __('page.result.after') %></a
          >
        </div>
      </div>
    </div>
  </div>
</section>
<% } %>
