<section id="result">
  <div class="container">
    <h2><%- page.result.title %></h2>
    <% page.result.items.forEach(function(value){ %>
      <a href="/<%- value.link %>">
        <div class="project d-flex flex-column-reverse" style="border-color: <%- value.color %>">
          <div class="title h-100">
            <h3 style="color: <%- value.color %>">
              <%- value.title %>
            </h3>
            <span>
              <%- value.department %>
            <span>
          </div>
          <div class="content position-sticky" style="background: <%- value.color %>">
            <div class="row">
              <div class="col-lg-6 order-lg-1 d-flex align-items-center <%- value.mockup.type != "mobile_with_bg" ? "justify-content-center" : "" %>">
                <%- partial('component/mockup', {mockup: value.mockup}) %>
              </div>
              <div class="col-lg-6 d-flex justify-content-center align-items-center">
                <div>
                  <h4>
                    <%- value.subtitle %>
                  </h4>
                  <p>
                    <%- value.description %>
                  </p>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </a>
      <% }) %>
  </div>
</section>