<% if (homepage.mockup == "mobile") { %>
<div class="iphone">
  <img src="/image/iphone.png" class="frame" />
  <div class="out-screen">
    <div
      class="screen"
      style="background: url('/image/<%- homepage.image %>')"
    ></div>
  </div>
</div>
<% } else if (homepage.mockup == "none"){ %>
<div style="width: 80%">
  <img src="/image/<%- homepage.image %>" class="w-100" alt="macbook" />
</div>
<% } else if (homepage.mockup == "mobile_with_bg"){ %>
<div class="mobile-with-bg-iphone iphone">
  <img src="/image/iphone.png" class="frame" />
  <div class="out-screen">
    <div
      class="screen"
      style="background: url('/image/<%- homepage.image %>')"
    ></div>
  </div>
</div>

<div
  class="mobile-with-bg"
  style="background: url('/image/<%- homepage.bg_image %>')"
></div>
<% } else { %>
<div class="macbook">
  <img src="/image/macbook.png" alt="macbook" />
  <div
    class="screen"
    style="background: url('/image/<%- homepage.image %>')"
  ></div>
</div>
<% } %>
