<% if (mockup.type == "mobile") { %>
<div class="iphone">
  <img src="/image/iphone.png" class="frame" />
  <img src="/image/<%- mockup.image %>" class="screen" />
</div>
<% } else if (mockup.type == "none"){ %>
<div>
  <img src="/image/<%- mockup.image %>" class="w-100 shadow" alt="macbook" />
</div>
<% } else if (mockup.type == "mobile_with_bg"){ %>
<div class="mobile-with-bg-iphone iphone">
  <img src="/image/iphone.png" class="frame" />
  <img src="/image/<%- mockup.image %>" class="screen" />
</div>

<div
  class="mobile-with-bg"
  style="background: url('/image/<%- mockup.background %>')"
></div>
<% } else { %>
<div class="macbook">
  <img src="/image/macbook.png" alt="macbook" />
  <div
    class="screen"
    style="background: url('/image/<%- mockup.image %>')"
  ></div>
</div>
<% } %>
