<div class="container py-3">
<%- partial('_partial/page/cover') %>
<%- partial('_partial/page/prestudy') %>
<%- partial('_partial/page/need') %>
<%- partial('_partial/page/wireframe') %>
<%- partial('_partial/page/tobecontinue') %>
</div>